.ContainerOfMenuOptions{
    border-radius: 1.5% !important;
}
.DescriptionDataGeneral{
    border: 1px solid black;
    border-radius: 1%;
    padding: 1%;
}

.LogoBackgroundDataGeneral{
    border-radius: 1%;
    background-repeat: 1;
}