

.title-group {
    text-align: center;
    margin-top: 25px;
}
/* .ant-table-content > table {
    border: 1px solid #c1c1c1;
    width: 100%;

} */

.div-container {
    width: 80%;
    margin: auto;
    margin-top: 25px;
}